/* UNIVERSAL */

:root {

    --orange: #FF9633;
    --darkblue: #2E4C5B;
    --blue: #5296A5;
    --lightblue: #82DDF0;
    --lightgray: #F1F1F1;
    --white: #FFFFFF;

}

html , body {
    font-size: 24px;
    width: 100vw;
    height: 100vh;
}


.button {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    }

.button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.image_container {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.box {
    flex: 1;
    height: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container:nth-child(even) {
    flex-direction: column;
}

@media (min-width: 1200px) {
    .container {
        flex-direction: row-reverse;
        width: 100vw;
        height: 100vh;
    }
    .box {
        height: 100%;
        padding: 100px;
        height: 50vh;
    }
    .container:nth-child(even) {
        flex-direction: row;
    }
}


/* COLOR SCHEMES */

.blue_theme {
    background: var(--darkblue);
    color: var(--white);

}

.white_theme {
    background: var(--white);
    color: var(--darkblue-);
}

.gray_theme {
    background: var(--lightgray);
    color: var(--darkblue);
}

/* ABOUT SECTION */

.circle_image {
    border-radius: 50%;
}