/* UNIVERSAL */

:root {

    --orange: #FF9633;
    --darkblue: #2E4C5B;
    --blue: #5296A5;
    --lightblue: #82DDF0;
    --lightgray: #F1F1F1;
    --white: #FFFFFF;

}

html , body {
    font-size: 24px;
    width: 100%;
    height: 100%;
}

button {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1rem;
    border-radius: 15px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


.box {
    flex: 1;
    height: 50vh;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container:nth-child(even) {
    flex-direction: column-reverse;
}

@media (min-width: 1200px) {
    .container {
        flex-direction: row-reverse;
        width: 100vw;
        height: 100vh;
    }
    .box {
        height: 100%;
    }
    .container:nth-child(even) {
        flex-direction: row-reverse;
}

/* COLOR SCHEMES */

.blue_theme {
    background: var(--darkblue);
    color: var(--white);

}

.orange_theme {
    background: var(--orange);
    color: var(--darkblue-);
}

.white_theme {
    background: var(--white);
    color: var(--darkblue-);
}

.gray_theme {
    background: var(--lightgray);
    color: var(--darkblue);
}
